html{
    font-family: Garamond, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

body{
    background-image: url('annie-spratt-V705bwrTnQI-unsplash.jpg');
    background-size: 2500px 1500px;
    background-repeat: no-repeat;

}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputs{
    width: 80%;
    justify-content: left;
    padding: 1.5%;
    margin-bottom: 1%;
    border: 1px solid  #DCDCDC;
    border-radius: 3px;
    font-size: 18px;
    font-family: Garamond, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.new-page{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.first-list{
    width: 35%;
}

.second-list{
    width: 35%;
}

.li1, .li2{
    list-style-type:none;
    font-size:18px ;
    width: 100%;
    padding: 5.5%;
    margin-bottom: 6%;
    background-color: white;
    display: inline-block;
    border: 1px solid #DCDCDC;
    border-radius: 3px;  
}

.btn1, .btn2{
    border-radius: 5px;
    background-color: white;
    width: 50%;
    padding: 1%;
    font-family: Garamond, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
    border-color:#16272F;
    font-weight: bold;
}

button:hover{
    background-color: #16272F;
    color: white;
    transition-duration: 0.4s;
}

@media only screen and (max-width: 425px){
    body{
        background-size: auto;
    }

    h1{
        font-size: 135px;
    }

    .inputs{
        padding: 4.5%;
        font-size: 35px;
    }

    .btn1, .btn2{
        padding: 3%;
        width: 65%;
        font-size: 35%;
    }
}
